{:site-title           "Santi Gepigon's Blog"
 :author               "Santiago Gepigon III"
 :description          "A grab bag of numbers and words"
 :site-url             "https://sgepigon.github.io/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "blog"
 :page-root-uri        ""
 :tag-root-uri         "tags"
 :author-root-uri      ""
 :blog-prefix          ""
 :rss-name             "feed.xml"
 :rss-filters          ["clojure"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "sgepigon"
 :resources            ["img"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       5
 :blocks-per-preview   2
 :previews?            false
 :clean-urls?          true
 :hide-future-posts?   true
 :klipse               {:settings {:selector ".klipse-cljs"}}
 :debug?               false}
